{:sonar-token ""                 ;; your SonarQube access token
 :sonar-project-id ""            ;; your SonarQube project key
 :page-size 100
 :complexity-orange-threshold 9
 :complexity-red-threshold 15}