{:deps    {org.clojure/clojure    {:mvn/version "1.10.1"}
           clj-http               {:mvn/version "3.10.0"}
           org.clojure/data.json  {:mvn/version "0.2.6"}
           commons-validator      {:mvn/version "1.6"}
           expound                {:mvn/version "0.7.2"}
           org.clojure/test.check {:mvn/version "0.9.0"}}

 :aliases {:run  {:main-opts   ["-m" "metrics-server.core"]}
           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-521"}
                                lambdaisland/kaocha-cloverage {:mvn/version "0.0-32"}}
                  :main-opts   ["-m" "kaocha.runner"]}}}
