[{:committer_name  "Committer Name"
  :committer_email "committer_email@example.com"
  :committed_date  "2019-05-22T07:00:02.000Z"
  :title           "Sample title 1"
  :parent_ids      ["4b6a83d52e2fe3a0587295a9c80d77801dc747f0"
                    "f06cebee3b3974d8ce54ee5db2313f0c5c7b534e"]
  :id              "e54d96361d6c8be089f4a408e8fb56c330c3d74c"
  :authored_date   "2019-05-22T07:00:02.000Z"
  :author_name     "Committer Name"
  :author_email    "committer_email@example.com"
  :stats           {:additions 32
                    :deletions 5
                    :total     37}
  :created_at      "2019-05-22T07:00:02.000Z"
  :message         "Sample message 1"
  :short_id        "e54d9636"}
 {:committer_name  "Committer Name"
  :committer_email "committer_email@example.com"
  :committed_date  "2019-05-22T07:00:02.000Z"
  :title           "Sample title 2"
  :parent_ids      ["4b6a83d52e2fe3a0587295a9c80d77801dc747f0"]
  :id              "f06cebee3b3974d8ce54ee5db2313f0c5c7b534e"
  :authored_date   "2019-05-22T07:00:02.000Z"
  :author_name     "Other Committer"
  :author_email    "other.committer@example.com"
  :stats           {:additions 32
                    :deletions 5
                    :total     37}
  :created_at      "2019-05-22T07:00:02.000Z"
  :message         "Sample message 2"
  :short_id        "f06cebee"}
 {:committer_name  "Other Committer"
  :committer_email "other.committer@example.com"
  :committed_date  "2019-05-21T09:55:21.000Z"
  :title           "Sample title 3"
  :parent_ids      ["1abbd5d89a5aba27f739ca812d9b02517f482112"
                    "6ae8edc44e0ff35bf5ea8e486a6afc0834520fd3"]
  :id              "4b6a83d52e2fe3a0587295a9c80d77801dc747f0"
  :authored_date   "2019-05-21T09:55:21.000Z"
  :author_name     "Other Committer"
  :author_email    "other.committer@example.com"
  :stats           {:additions 878
                    :deletions 579
                    :total     1457}
  :created_at      "2019-05-21T09:55:21.000Z"
  :message         "Sample message 3"
  :short_id        "4b6a83d5"}
 {:committer_name  "Other Committer"
  :committer_email "other.committer@example.com"
  :committed_date  "2019-05-21T09:55:20.000Z"
  :title           "Sample title 4"
  :parent_ids      ["1abbd5d89a5aba27f739ca812d9b02517f482112"]
  :id              "6ae8edc44e0ff35bf5ea8e486a6afc0834520fd3"
  :authored_date   "2019-05-21T09:55:20.000Z"
  :author_name     "Other Committer"
  :author_email    "other.committer@example.com"
  :stats           {:additions 878
                    :deletions 579
                    :total     1457}
  :created_at      "2019-05-21T09:55:20.000Z"
  :message         "Sample message 4"
  :short_id        "6ae8edc4"}
 {:committer_name  "Committer Name"
  :committer_email "committer_email@example.com"
  :committed_date  "2019-05-20T13:24:03.000Z"
  :title           "Sample title 5"
  :parent_ids      ["cdc43bf39e853d8072583b17aeea2e1404b6be85"
                    "0885d0838f1cb738e2d23f109efa82e5249cf138"]
  :id              "1abbd5d89a5aba27f739ca812d9b02517f482112"
  :authored_date   "2019-05-20T13:24:03.000Z"
  :author_name     "Committer Name"
  :author_email    "committer_email@example.com"
  :stats           {:additions 3
                    :deletions 3
                    :total     6}
  :created_at      "2019-05-20T13:24:03.000Z"
  :message         "Sample message 5"
  :short_id        "1abbd5d8"}
 {:committer_name  "Committer Name"
  :committer_email "committer_email@example.com"
  :committed_date  "2019-05-20T13:24:03.000Z"
  :title           "Sample title 6"
  :parent_ids      ["cdc43bf39e853d8072583b17aeea2e1404b6be85"]
  :id              "0885d0838f1cb738e2d23f109efa82e5249cf138"
  :authored_date   "2019-05-20T13:24:03.000Z"
  :author_name     "Third Committer"
  :author_email    "third.committer@example.com"
  :stats           {:additions 3
                    :deletions 3
                    :total     6}
  :created_at      "2019-05-20T13:24:03.000Z"
  :message         "Sample message 6"
  :short_id        "0885d083"}
 {:committer_name  "Committer Name"
  :committer_email "committer_email@example.com"
  :committed_date  "2019-05-20T08:34:24.000Z"
  :title           "Sample title 7"
  :parent_ids      ["4d6f01c0f8d86e63ab253ef9829e982c159f2741"
                    "c743f687f56e35da2301a283b70883a21156f454"]
  :id              "cdc43bf39e853d8072583b17aeea2e1404b6be85"
  :authored_date   "2019-05-20T08:34:24.000Z"
  :author_name     "Committer Name"
  :author_email    "committer_email@example.com"
  :stats           {:additions 6
                    :deletions 2
                    :total     8}
  :created_at      "2019-05-20T08:34:24.000Z"
  :message         "Sample message 7"
  :short_id        "cdc43bf3"}
 {:committer_name  "Committer Name"
  :committer_email "committer_email@example.com"
  :committed_date  "2019-05-20T08:34:24.000Z"
  :title           "Sample title 8"
  :parent_ids      ["4d6f01c0f8d86e63ab253ef9829e982c159f2741"]
  :id              "c743f687f56e35da2301a283b70883a21156f454"
  :authored_date   "2019-05-20T08:34:24.000Z"
  :author_name     "Third Committer"
  :author_email    "third.committer@example.com"
  :stats           {:additions 6
                    :deletions 2
                    :total     8}
  :created_at      "2019-05-20T08:34:24.000Z"
  :message         "Sample message 8"
  :short_id        "c743f687"}]